.layout {
    min-height: 100vh;
}
.header {
    display: flex;
}
.logo {
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    text-transform: uppercase;
    width: 150px;
}
.menu {
    display: flex;
    flex: auto;
}
