.card > div:first-child {
    background-color: #ccc;
    min-height: 200px;
    position: relative;
}
.card > div:first-child:before {
    color: #fff;
    content: 'U';
    font-size: 100px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card > div:first-child img {
    position: relative;
}
